<!DOCTYPE html>
<html lang="en">
    <head>
    </head>

    <body style="background-color: black;">
        <div id="chartContainer"></div>
        <script src="/js/lcjs.iife.js"></script>
        <script src="/js/chart.js"></script>
    </body>
</html>